# RNA
---
- Bruno Salgado
- [Edward Izawa](https://github.com/seidyizawa)

In [1]:
import pandas as pd
import numpy as np
import sklearn
import yellowbrick

In [2]:
dataset = pd.read_csv('master.csv',encoding="utf8",sep = ',')

In [3]:
dataset.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
classifier = dataset['sex']
country = dataset['country']
year = dataset['year']
generation = dataset['generation']
age = dataset['age']
suicides_no = dataset['suicides_no']
population = dataset['population']
suicides_pop = dataset['suicides/100k pop']
gdp_capita = dataset['gdp_per_capita ($)']

In [5]:
vs = sklearn.preprocessing.LabelEncoder()

In [6]:
classi = vs.fit_transform(classifier)
feat1 = vs.fit_transform(country)
feat2 = vs.fit_transform(year)
feat3 = vs.fit_transform(generation)
feat4 = vs.fit_transform(age)

In [7]:
data = { 'sex':classi,'country': feat1, 'year': feat2, 'generation': feat3, 'age': feat4, 'suicides_no': suicides_no,'population':population,'gdp_capita':gdp_capita}
frame = pd.DataFrame(data , columns = ['generation', 'country', 'year','sex','age','suicides_no','population','gdp_capita'])
frame.head()

   generation  country  year  sex  age  suicides_no  population  gdp_capita
0           2        0     2    1    0           21      312900         796
1           5        0     2    1    2           16      308000         796
2           2        0     2    0    0           14      289700         796
3           1        0     2    1    5            1       21800         796
4           0        0     2    1    1            9      274300         796

In [8]:
X = frame.drop('sex',axis=1)
y = frame['sex']

In [9]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.20)

In [10]:
scaler = sklearn.preprocessing.StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=2000)
model.fit(X_train, y_train.values.ravel())

In [ ]:
print("{:.0%}".format(model.score(X_train, y_train.values.ravel())))